<section id="cabecera">
  <div class="container">
    <div class="row middle-xs">
      <div class="col-xs-12 col-md-6">
        <img src="./assets/img/Kanban-text.png" alt="" class="img-responsive">
        <p>Diseño</p>
        <p>Desarrollo</p>
        <p>Web</p>
      </div>
    </div>
  </div>
</section>
<div class="container zero-height">
  <div class="row end-xs">
    <div class="col-xs-6 col-md-4">
      <div class="box">
        <img id="ilus-2"
             src="./assets/img/ilustraciones/ilus-2.svg"
             alt="">
        <img id="ilus-1"
             src="./assets/img/ilustraciones/ilus-1.svg"
             alt="">
      </div>
    </div>
  </div>
</div>

<div class="zero-height">
  <img src="./assets/img/deco/1.svg" alt="" id="deco-1">
</div>

<section id="portafolio">
  <div class="container">
    <h2 class="extra">Portafolio</h2>
  </div>
</section>
<div id="top-blog">
</div>
<section id="blog">
  <div class="container">
    <h2 class="extra">Blog</h2>
  </div>
</section>
<section id="test">
  <div class="container">
    <h1>h1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, corporis?</h1>
    <h1 class="titulo">h1 titulo Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, corporis?</h1>
    <h2>h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, corporis?</h2>
    <h2 class="subtitulo">h2 subtitulo Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus,
      corporis?</h2>
    <h2 class="extra">h2 subtitulo Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, corporis?</h2>
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, corporis?</h3>
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, corporis?</h4>
    <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, corporis?</h5>
    <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, corporis?</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut culpa, cupiditate dolorem dolores eaque,
      eius error expedita explicabo harum itaque iusto laudantium nulla, perspiciatis porro rem repellat repudiandae
      temporibus!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut culpa, cupiditate dolorem dolores eaque,
      eius error expedita explicabo harum itaque iusto laudantium nulla, perspiciatis porro rem repellat repudiandae
      temporibus!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut culpa, cupiditate dolorem dolores eaque,
      eius error expedita explicabo harum itaque iusto laudantium nulla, perspiciatis porro rem repellat repudiandae
      temporibus!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut culpa, cupiditate dolorem dolores eaque,
      eius error expedita explicabo harum itaque iusto laudantium nulla, perspiciatis porro rem repellat repudiandae
      temporibus!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut culpa, cupiditate dolorem dolores eaque,
      eius error expedita explicabo harum itaque iusto laudantium nulla, perspiciatis porro rem repellat repudiandae
      temporibus!
    </p>
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, corporis?</h1>
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, corporis?</h2>
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, corporis?</h3>
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, corporis?</h4>
    <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, corporis?</h5>
    <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, corporis?</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut culpa, cupiditate dolorem dolores eaque,
      eius error expedita explicabo harum itaque iusto laudantium nulla, perspiciatis porro rem repellat repudiandae
      temporibus!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut culpa, cupiditate dolorem dolores eaque,
      eius error expedita explicabo harum itaque iusto laudantium nulla, perspiciatis porro rem repellat repudiandae
      temporibus!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut culpa, cupiditate dolorem dolores eaque,
      eius error expedita explicabo harum itaque iusto laudantium nulla, perspiciatis porro rem repellat repudiandae
      temporibus!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut culpa, cupiditate dolorem dolores eaque,
      eius error expedita explicabo harum itaque iusto laudantium nulla, perspiciatis porro rem repellat repudiandae
      temporibus!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut culpa, cupiditate dolorem dolores eaque,
      eius error expedita explicabo harum itaque iusto laudantium nulla, perspiciatis porro rem repellat repudiandae
      temporibus!
    </p>
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, corporis?</h1>
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, corporis?</h2>
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, corporis?</h3>
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, corporis?</h4>
    <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, corporis?</h5>
    <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, corporis?</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut culpa, cupiditate dolorem dolores eaque,
      eius error expedita explicabo harum itaque iusto laudantium nulla, perspiciatis porro rem repellat repudiandae
      temporibus!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut culpa, cupiditate dolorem dolores eaque,
      eius error expedita explicabo harum itaque iusto laudantium nulla, perspiciatis porro rem repellat repudiandae
      temporibus!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut culpa, cupiditate dolorem dolores eaque,
      eius error expedita explicabo harum itaque iusto laudantium nulla, perspiciatis porro rem repellat repudiandae
      temporibus!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut culpa, cupiditate dolorem dolores eaque,
      eius error expedita explicabo harum itaque iusto laudantium nulla, perspiciatis porro rem repellat repudiandae
      temporibus!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut culpa, cupiditate dolorem dolores eaque,
      eius error expedita explicabo harum itaque iusto laudantium nulla, perspiciatis porro rem repellat repudiandae
      temporibus!
    </p>
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, corporis?</h1>
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, corporis?</h2>
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, corporis?</h3>
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, corporis?</h4>
    <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, corporis?</h5>
    <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, corporis?</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut culpa, cupiditate dolorem dolores eaque,
      eius error expedita explicabo harum itaque iusto laudantium nulla, perspiciatis porro rem repellat repudiandae
      temporibus!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut culpa, cupiditate dolorem dolores eaque,
      eius error expedita explicabo harum itaque iusto laudantium nulla, perspiciatis porro rem repellat repudiandae
      temporibus!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut culpa, cupiditate dolorem dolores eaque,
      eius error expedita explicabo harum itaque iusto laudantium nulla, perspiciatis porro rem repellat repudiandae
      temporibus!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut culpa, cupiditate dolorem dolores eaque,
      eius error expedita explicabo harum itaque iusto laudantium nulla, perspiciatis porro rem repellat repudiandae
      temporibus!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut culpa, cupiditate dolorem dolores eaque,
      eius error expedita explicabo harum itaque iusto laudantium nulla, perspiciatis porro rem repellat repudiandae
      temporibus!
    </p>
  </div>
</section>
