<nav [class.mat-elevation-z2]="!isActive"
     [class.mat-elevation-z8]="isActive">
  <mat-toolbar class="container">
    <mat-toolbar-row>
      <img src="./assets/img/logo/logo-solo.svg" alt="Logo Kanban" class="logo-simple">
      <span class="espaceador"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
