@import 'src/colores-personalizados'

*
  font-family: 'Quicksand', sans-serif
  font-weight: bold


nav
  background-color: #010138
  float: top
  position: fixed
  top: 0
  width: 100%

  .example-spacer
    flex: 1 1 auto


  mat-toolbar
    background-color: #010138
    color: #ECECEC

  button
    height: 100%


  .logo
    width: 45px
    height: 100%

header.cabecera-inicio
  background-color: #010138
  background-image: url("/assets/img/deco/1.svg")
  background-repeat: no-repeat
  background-position: center
  color: #ECECEC

  .container-fluid
    .row
      height: 100vh
      padding-top: 10vh

  .logo
    max-width: 500px
    margin-bottom: 3em

  .ddw
    font-size: 1.3em

  .ilus-1, .ilus-2
    width: 70%
    max-height: 50vh

  .ilus-1
    height: 20em
    float: left


  .ilus-2
    height: 20em
    float: right

  a.ddw
    color: white
    text-decoration: none
    line-height: 2em

  @media (max-width: 992px)
    .ilus-2
      visibility: hidden
    *
      font-size: 12px

section.portfolio
  min-height: 100vh
  background-image: linear-gradient($color-blue, black)
